.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
    height: 80vh;
    margin:auto ;
    border: 1px solid black;
    justify-content:center;
    align-items: center;
    background-color: aquamarine;
}

.flex-item{
    /*border: 1px solid black;*/
}